<h1>About Us</h1>
<p>This is Blog of Group 3 to post fast and easy</p>
<p>Product by Rio</p>
<p>version: 1.0.2</p>
<p>Contributing Member </p>
<p>01 : Nguyen Thi Thanh Kieu - MSSV 2033180149</p>
<p>02 : Bui Ky Phuong         - MSSV 2033180031 </p>
<p>03 : Vu Cong Dao           - MSSV 2033181009 </p>
<p>04 : Nguyen Minh Quan      - MSSV 2033180115</p>